
{% extends "All_Tools_Pages/headerfooter.html" %}


{% block content %}

{% load static %}


<div class="container">
    <h1 class="fs-1 text-center fw-bold text-danger">RE Mapping Tool</h1>

    <form class="form text-center" role="form" method="POST" action="{% url 're_calculation' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body text-center">
            <div class="form-group">
                <label for="re_map_file" class="text-center">Add the Bin File Here</label>
                <input id="re_map_file" onchange="return fileValidation()" type="file"  name="re_map_file">
            </div>
        </div>
        <button type="submit" class="btn btn-primary text-center">Calculate</button>
    </form>
</div>
<div class="container justify-content-center">
{% if charts %}
    {% for chart in charts %}
    <img src="data:image/png;base64, {{chart|safe}}">
    {% endfor %}
{% endif%}
</div>
{% endblock %}

