












{% extends "All_Tools_Pages/headerfooter.html" %}


{% block content %}

{% load static %}


<div class="container">
    <h1 class="fs-1 text-center fw-bold text-danger">Frequency Calculator Tool</h1>

    <form class="form text-center" role="form" method="POST" action="{% url 'freq_calculation' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body text-center">
            <div class="form-group">
                <label for="du_log_file" class="text-center">Add the DU Log File Here</label>
                <input id="du_log_file" onchange="return fileValidation()" type="file"  name="du_log_file">
            </div>
        </div>
        <button type="submit" class="btn btn-primary text-center">Calculate</button>
    </form>
</div>
{% if charts %}
    {% for chart in charts %}
    <img src="data:image/png;base64, {{chart|safe}}">
    {% endfor %}
{% endif%}




{% endblock %}


